/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */
body {
    width: 100%;
}
/* UTILS */
:root {
    --space: 5px;
}
.orange {
    background-color: #daa520;
}

.blue {
    background-color: #00008b;
}

.grey {
    background-color: #d3d3d3;
}

.black {
    background-color: #23272a;
}

.lightblue {
    background-color: #1e90ff;
}

.pink {
    background-color: #ee82ee;
}
.lightpink {
    background-color: #ffc0cb;
}

.green {
    background-color: #228b22;
}

.heavenly {
    background-color: #20b2aa;
}

.lightgreen {
    background-color: #7fffd4;
}

:root {
    --bb: 2px dashed black;
    --wb: 2px dashed white;
}
/* HEADER */
header {
    background-color: #add8e6;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-header {
    margin: auto;
    width: 70%;
    display: flex;
    min-height: 25px;
}

nav {
    border: var(--bb);
    padding: var(--space);
}
a{
    text-decoration: none;
    color: black;
}

.small-nav {
    width: 25%;
}

.big-nav {
    width: 50%;
    text-align: center;
}

.small-nav.right {
    text-align: end;
}

/* MAIN */

.flex-container-main {
    width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-section {
    height: 300px;
}

.card {
    height: 200px;
    width: 70%;
    border: var(--bb);

}

.main {
    width: 60%;
    height: 200px;
    border: var(--bb);
}

.sidebar {
    width: 40%;
    height: 200px;
    border: var(--bb);
}

.big-section {
    height: 500px;
}

.bigdiv {
    width: 100%;
    height: 400px;
    border: var(--bb);
}

.sidebar-big {
    height: 200px;
    width: calc(100% / 5 * 2);
    border: var(--bb);
}

.sidebar-small{
    height: 200px;
    width: calc(100% / 5);
    border: var(--wb);
}

main {
    border-bottom: var(--bb);
}



/* FOOTER */
footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.flex-container-footer {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #ffb6c1;
    border: var(--bb);
    font-size: 15px;
    padding: var(--space);
}